<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.zawadz88.realestate.test" android:versionCode="1" android:versionName="0.0.1-SNAPSHOT">

    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="17"/>
    
  <application>
    <uses-library android:name="android.test.runner" />
  </application>

  <instrumentation android:targetPackage="com.zawadz88.realestate"
    android:name="android.test.InstrumentationTestRunner" />

</manifest>

